/* line 3, ../sass/forms.scss */
label {
  cursor: pointer;
}

/* line 8, ../sass/forms.scss */
input[type],
textarea,
select {
  background-color: #fff;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  padding: 0.125em;
  border: 1px solid #ccc;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  border-radius: 0.25em;
}

/* line 22, ../sass/forms.scss */
input[type="checkbox"],
input[type="radio"],
input[type="image"] {
  width: auto;
}

/* line 27, ../sass/forms.scss */
input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: #666;
}

/* line 32, ../sass/forms.scss */
input[required],
textarea[required] {
  border-color: #999;
}

/* line 37, ../sass/forms.scss */
button,
input[type="button"],
input[type="submit"] {
  width: auto;
  text-align: center;
  font-family: Calibri, 'Helvetica Neue', Arial, sans-serif;
  font-size: inherit;
  font-weight: normal;
  font-style: normal;
  border: 1px solid #666;
  cursor: pointer;
  padding: 0.5em 1em;
  line-height: 1;
  background-color: #369;
  color: #fff;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4477aa), to(#225588));
  background-image: -moz-linear-gradient(top, #4477aa, #225588);
  background-image: -o-linear-gradient(top, #4477aa, #225588);
  background-image: linear-gradient(top, #4477aa, #225588);
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
}

/* line 64, ../sass/forms.scss */
button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  outline: none;
  background-color: #c03;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dd0044), to(#bb0022));
  background-image: -moz-linear-gradient(top, #dd0044, #bb0022);
  background-image: -o-linear-gradient(top, #dd0044, #bb0022);
  background-image: linear-gradient(top, #dd0044, #bb0022);
  color: #fff;
}

/* line 76, ../sass/forms.scss */
button:active,
input[type="button"]:active,
input[type="submit"]:active {
  background-color: #900;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#880000), to(#aa0000));
  background-image: -moz-linear-gradient(top, #880000, #aa0000);
  background-image: -o-linear-gradient(top, #880000, #aa0000);
  background-image: linear-gradient(top, #880000, #aa0000);
  color: #fff;
}

/* line 87, ../sass/forms.scss */
[role="search"] {
  position: relative;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 0 0.75em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
}

/* line 97, ../sass/forms.scss */
[role="search"] input {
  border: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* line 105, ../sass/forms.scss */
[role="search"] input[type="image"] {
  background-color: #fff;
  position: absolute;
  width: 0.9375em;
  top: 0.2em;
  right: 0.6em;
  padding: 0.2em 0.2em;
}

/* line 117, ../sass/forms.scss */
.options {
  list-style: none;
  border-top: 1px solid #ccc;
}

/* line 121, ../sass/forms.scss */
.options li {
  text-indent: 0;
  font-family: Calibri, 'Helvetica Neue', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-weight: bold;
  margin: 0;
  padding: 0.3125em 0.625em;
  border-bottom: 1px solid #ccc;
}

/* line 131, ../sass/forms.scss */
.options a {
  display: block;
  border: none;
}
